{% extends 'shop/base.html' %}

{% block title %}Produkty{% endblock %}

{% block content %}
<h1 class="text-white mb-4">Produkty</h1>

<form method="get" class="filter-bar mb-4">
    <input
        type="number"
        name="min_price"
        class="form-control filter-input"
        placeholder="Min cena"
        value="{{ request.GET.min_price }}"
    >

    <input
        type="number"
        name="max_price"
        class="form-control filter-input"
        placeholder="Max cena"
        value="{{ request.GET.max_price }}"
    >

    <select name="category" class="form-select filter-input">
        <option value="">Wszystkie kategorie</option>
        {% for category in categories %}
            <option value="{{ category.id }}"
                {% if request.GET.category == category.id|stringformat:"s" %}selected{% endif %}>
                {{ category.name }}
            </option>
        {% endfor %}
    </select>

    <select name="sort" class="form-select filter-input">
        <option value="">Domyślne sortowanie</option>
        <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>
            Cena rosnąco
        </option>
        <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>
            Cena malejąco
        </option>
    </select>

    <button type="submit" class="btn btn-primary filter-button">Filtruj</button>
</form>

<div class="row g-4">
    {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-card h-100">
                <h5 class="product-title">
			<a href="{% url 'product_detail' product.id %}" class="product-link">
				{{ product.name }}
			</a>
		</h5>

		{% if product.category %}
			<p class="product-category">{{ product.category.name }}</p>
		{% endif %}

		<a href="{% url 'product_detail' product.id %}" class="product-image-link">
			{% if product.image %}
				<img src="{{ product.image.url }}" class="product-image" alt="{{ product.name }}">
			{% else %}
				<div class="product-placeholder">Brak zdjęcia</div>
			{% endif %}
</a>

                <p class="product-description">{{ product.description|truncatewords:12 }}</p>

                <p class="product-price">{{ product.price }} zł</p>

                <div class="d-flex gap-2 mt-auto">
                    <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-light w-50">
                        Szczegóły
                    </a>
                    <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success w-50">
                        Do koszyka
                    </a>
                </div>
            </div>
        </div>
    {% empty %}
        <p class="text-white">Brak produktów.</p>
    {% endfor %}
</div>
{% endblock %}